:root {
  --mainColor: #24c522;
}

.projects-container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 1100px;
  background: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Staatliches', cursive;
  letter-spacing: 2.0px;
}

.project-button {
  width: 180px;
  height: 35px;
  padding: 8px 14px;
  font-size: 20px;
  border-radius: 16px;
  margin-top: 80px;
  font-family: 'Staatliches', cursive;
  border: 6px solid var(--mainColor);
  color: white;
  letter-spacing: 3.5px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.project-button:hover {
  color: var(--mainColor);
  font-weight: 800;
  transition: 300ms ease-in;
}

.projects-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-areas: 
    "project-item-1 project-item-1 project-item-2 project-item-2"
    "project-item-3 project-item-3 project-item-4 project-item-5";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.projects-grid > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  filter: brightness(0.9);
  border-radius: 14px;
  margin-bottom: 10px;
}

.projects-grid a {
  font-size: 1.5em;
  font-weight: 800;
  padding: 10px;
  background-color: black;
  height: 40px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.projects-grid a:hover {
  opacity: 1.0;
  transition: 400ms;
}

.projects-grid > div:hover {
  transform: scale(1.025);
  transition: 600ms;
}

.project-item-1 {
  grid-area: project-item-1;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/22/08/01/school-supplies-3033204_960_720.jpg");
}

.project-item-2 {
  grid-area: project-item-2;
  background: url("https://cdn.pixabay.com/photo/2015/04/10/17/03/pots-716579_960_720.jpg");
}

.project-item-3 {
  grid-area: project-item-3;
  background: url("https://cdn.pixabay.com/photo/2017/04/25/05/45/basketball-2258651_960_720.jpg");
}

.project-item-4 {
  grid-area: project-item-4;
  background: url("https://cdn.pixabay.com/photo/2015/04/15/14/55/calculator-723917_960_720.jpg");
}

.project-item-5 {
  grid-area: project-item-5;
  background: url("https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_960_720.jpg");
}

@media screen and (max-width: 1024px) {
.projects-grid {
  width: 95%;
}
  
.project-button {
  width: 80%;
  font-size: 20px;
  margin-top: 50px;
  }
}

@media screen and (max-width: 550px) {
.projects-container {
  width: 100%;
  height: 1400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 2.0px;
  margin: 0px;
}

.projects-grid {
  grid-template-areas: 
    "project-item-1"
    "project-item-2"
    "project-item-3"
    "project-item-4"
    "project-item-5";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  grid-gap: 9px;
}

.projects-grid > div:hover {
  transform: scale(1);
}

.projects-grid a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 10px;
  height: 40px;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
}

.projects-grid > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  filter: brightness(0.9);
}

.project-button {
  width: 180px;
  height: 35px;
  padding: 10px 14px;
  font-size: 32px;
  border-radius: 16px;
  margin-top: 80px;
  font-family: 'Staatliches', cursive;
  border: 6px solid var(--mainColor) !important;
  color: white;
  letter-spacing: 3.5px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
      
.project-button:hover {
  border: 6px solid white !important;
  color: var(--mainColor);
  transition: 500ms ease-in;
  }
}

@media screen and (max-width: 414px) {
.project-button {
  width: 80%;
  font-size: 15px;
  margin-top: 30px;
  }
}