.container {
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-areas: 
      "box-left box-left box-right box-right"
      "box-left box-left box-right box-right"
      "box-left box-left box-right box-right";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1000;
  }
  
  .container > * {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  .box-left {
    grid-area: box-left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    background-color: #1af4ff;
  }

  .box-left h3 {
    font-size: 35px;
    color: black;
    font-weight: 800;
    font-family: sans-serif;
    width: 210px;
    letter-spacing: 2.5px;
    margin-bottom: 0;
  }

  .box-left p {
    font-size: 25px;
    font-family: sans-serif;
    text-align: left;
    color: #523e3e;
    margin-top: 8px;
  }
  
  .box-right {
    grid-area: box-right;
    display: grid;
    grid-gap: 40px;
    padding: 100px;
    grid-template-areas: 
      "javascript react node express"
      "postgres html5 css3 python";
    grid-auto-rows: auto(4, 1fr);
    grid-auto-columns: auto(4, 1fr);
    /* grid auto rows */
    background-color: #1af4ff;
  }

  .box-right > div {
    max-height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    min-width: 200px;
    min-height: 220px;
  }

  .box-right > div:hover {
    transform: scale(1.3);
    transition: 800ms;
  }



  .javascript {
    grid-area: javascript;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/ios-filled/150/000000/javascript-logo.png");
  }

  .react {
    grid-area: react;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/ios-filled/150/000000/react-native.png");
  }

  .node {
    grid-area: node;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/windows/144/000000/nodejs.png")
  }

  .express {
    grid-area: express;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/material-rounded/150/000000/js.png")
  }

  .postgres {
    grid-area: postgres;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/ios-filled/150/000000/postgreesql.png")
  }

  .html5 {
    grid-area: html5;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/material-outlined/150/000000/html-5.png")
  }

  .css3 {
    grid-area: css3;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/ios/150/000000/css3.png")
  }

  .python {
    grid-area: python;
    background-color: #f1f1f1;
    background: url("https://img.icons8.com/ios-glyphs/150/000000/python.png")
  }


@media screen and (max-width: 850px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-areas: 
      "box-left"
      "box-right";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;;
    z-index: 1000;
  }

  .box-left {
    grid-area: box-left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background-color: #1af4ff;
  }
  
  .box-left p {
    font-size: 25px;
    font-family: sans-serif;
    text-align: left;
    width: 550px;
    color: #523e3e;
    margin-top: 8px;
  }

  .box-right {
    grid-area: box-right;
    display: grid;
    grid-gap: 40px;
    padding: 100px;
    grid-template-areas: 
      "javascript react" 
      "node express"
      "postgres html5"
       "css3 python";
    grid-auto-rows: auto(4, 1fr);
    grid-auto-columns: auto(2, 1fr);
    /* grid auto rows */
    background-color: #1af4ff;
  }
}