.footer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100px;
  padding: 0px;
}

.footer-content p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

strong {
  color: cyan;
  margin-right: 2px;
}

.footer-icons-wrapper {
  display: flex;
  justify-content: space-around;
}

#github, #linkedin, #medium {
  color: white;
  font-size: 20px;
}

#github:hover, #linkedin:hover, #medium:hover {
  color: #00ffff;
  transform: scale(1.25);
  transition: 500ms;
}



@media screen and (max-width: 414px) {
  .footer {
    padding: 10px;
  }

  .footer-content p {
    font-size: 14px;
  }
}