html, body {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(90deg, rgb(57 9 66) 0%, hsl(263deg 44% 8%) 30%);
}

@media screen and (max-width: 1024px) {
html, body {
  overflow-x: hidden;
  }
}