html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.App {
  background: #0a192f;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 124px) {
html, body {
  overflow-x: hidden;
  }
}