@import "../HeroSection/HeroSection.css";

.nav-wrap {
  display: flex;
  width: 100%;
  padding: 20px 20px;
  height: 2.5em;
  border: none;
  background-color: transparent;
  
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 800;
  width: 90px;
  font-size: 12px;
  background-color: transparent;
  color: #24c522;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  animation:  flashing 600ms forwards;
}

@keyframes flashing {
  50% {
    
  }
  100% {
    box-shadow: 0px 0px 5px 5px #048202;
    color: white;
  }
}

.bars {
  transition: ease-in-out 1000ms;
}

#menu-bars {
  font-size: 20px;
  margin: 0 auto;
  color: white;
}


/* Mobile navbar active */
@media screen and (max-width: 550px) {
.nav {
  display: none;
}

.nav-wrap {
  padding: 0;
  background-color: black;
}
  
.nav button {
  display: none;
}
  
.nav-link {
  display: none;
}

.nav-mobile {
  display: grid;
  opacity: 0.8;
  height: 440px;
  width: 100%;
  grid-gap: 0px;
  grid-template-areas: 
    "bars"
    "link-1"
    "link-2"
    "link-3"
    "link-4"
    "link-5";
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr;
  z-index: 100;
}

.nav-mobile button:focus {
  color: #a26eff;
}

.nav-mobile .link-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  border: none;
  text-transform: uppercase;
  transform: translateY(-500px);
  transition: 800ms;
}

.fa-bars {
  font-size: 25px;
}

.fa-bars:active .profile-image img {
  border: 10px solid red;
}

.bars {
  grid-area: bars;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-mobile .link-1 {
  grid-area: link-1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border: 5px solid black;
  color: var(--mainColor);
  background-color: black;
  cursor: pointer;
  font-family: sans-serif;
}

.nav-mobile .link-2 {
  grid-area: link-2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border: 5px solid black;
  color: var(--mainColor);
  background-color: black;
  cursor: pointer;
  font-family: sans-serif;
  
}

.nav-mobile .link-3 {
  grid-area: link-3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border: 5px solid black;
  color: var(--mainColor);
  background-color: black;
  cursor: pointer;
  font-family: sans-serif;
}

.nav-mobile .link-4 {
  grid-area: link-4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border: 5px solid black;
  color: var(--mainColor);
  background-color: black;
  cursor: pointer;
  font-family: sans-serif;
}

.nav-mobile .link-5 {
  grid-area: link-5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border: 5px solid black;
  color: var(--mainColor);
  background-color: black;
  cursor: pointer;
  font-family: sans-serif;
  }
}